.list-group-item {
  list-style-type: none;
}

#app {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.list-group {
  padding-left: 0em;
}

.remove-item {
  cursor: pointer;
  font-size: 0.5em; 

}
